/**
 * 主页面样式
 * created by 李永晖 on 2021/11/21
 * Lasted LastEdit by 李永晖 on 2021/11/24
 */

 .login_page .login_box{
     height: 650px;
     background: url('../images/background.jpg') no-repeat center center;
 }

 .login_page .login_box .center_box{
     width: 1200px;
     margin: 0 auto;
     position: relative;
 }

 .login_page .login_form{
     width: 380px;
     position: absolute;
     top: 80px;
     right: 0;
     border-radius: 6px;
     transition: all 0.8s;
     transform: perspective(600px);
     background-color: #fff;

 }

 .login_page .form_body{
     background-color: #fff;
     padding: 0 30px 20px;
     border-radius: 0 0 6px 6px;
 }

 .login_page .form_body input[type=text],.login_page .form_body input[type=password], .login_page .form_body input[type=button]{
     width: 310px;
     height: 43px;
     padding-left: 10px;
     margin-top: 20px;
     border-radius: 6px;
     font-size: 14px;
     border: 1px solid #ccc;
     outline: none;
 }


 
 